*{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6{
    font-family: Roboto Mono;
}
p{
    font-family: Raleway;
}
.diet{
    display: flex;
    padding-bottom: 80px;
}
.left{
    padding-top: 152px;
}
.left .first-heading{
    font-size: 60px;
    padding-left: 270px;
    margin-top: -36px;
    color: #575757;
}
.left .imagine{
    margin-left: 270px;
    margin-top: 30px;
    font-size: 27px;
}
.left button{
    margin-left: 270px;
    margin-top: 30px;
    padding: 12px 30px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
    color: #ffff;
    background-image: linear-gradient(to right, #f5af19, #f12711);
}
.first-heading .yel{
    color: #FB934A;
}
.healthy{
    width: 50%;
}
.muscle{
  width: 50%;  
}
.hero{
    margin: 0 auto;
    background-image: url("images/shapes/Group\ 8450.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.hero img{
    padding-left: 179px;
    padding-bottom: 17px;
}
.about{
    display: flex;
    padding: 80px 80px;
    height: 527px;
    background-image: url("images/shapes/7.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.girl{
    width: 50%;
    text-align: center;
}
.girl img{
    width: 300px;
    height: 607px;
}
.me{
    width: 50%;
}
.me h2{
    font-size: 50px;
    text-transform: capitalize;
    color: #575757;
    padding-top: 70px;
}
.me p{
    font-size: 20px;
    line-height: 30px;
    margin-top: 50px;
}
.me button{
    margin-top: 50px;
    padding: 12px 30px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
    color: #ffff;
    background-image: linear-gradient(to right, #f5af19, #f12711); 
}